Repository rapidsai/cucim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cucim-cpp-codeowners, @rapidsai/cucim-python-codeowners, @rapidsai/cucim-cmake-codeowners, @rapidsai/ops-codeowners

Fix `popd` indent in `run` (#693)
  run
Owners: none

updating ops-bot.yaml
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Ignore run-exports from CUDA 12 compiler.
  conda/recipes/cucim/meta.yaml
  conda/recipes/libcucim/meta.yaml
Owners: @rapidsai/ops-codeowners

Loosen run-exports from -dev libraries.
  conda/recipes/libcucim/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix CUDA trove classifiers
  python/cucim/pyproject.toml
Owners: @rapidsai/cucim-python-codeowners

Update cuCIM install instructions
  README.md
Owners: none

Further revamp `pip install` step
  README.md
Owners: none

Drop CuPy as it is installed for us
  README.md
Owners: none

Drop leftover dependency step
  README.md
Owners: none

Fix codeblocks
  README.md
Owners: none

Require Python 3.9 & use Python 3 trove classifier
  python/cucim/pyproject.toml
Owners: @rapidsai/cucim-python-codeowners

Fix CUDA trove classifiers & update README install instructions (#695)
  README.md
  python/cucim/pyproject.toml
Owners: @rapidsai/cucim-python-codeowners

Add cuda-cudart-dev with run-exports ignored.
  conda/recipes/cucim/meta.yaml
  conda/recipes/libcucim/meta.yaml
Owners: @rapidsai/ops-codeowners

Support CUDA 12.2 (#672)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cucim/meta.yaml
  conda/recipes/libcucim/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Refactor CUDA libraries in dependencies.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Consolidate nvjpeg.
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Refactor CUDA libraries in dependencies.yaml (#699)
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Update Changelog [skip ci]
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cucim-cpp-codeowners
python/pybind11    @rapidsai/cucim-cpp-codeowners

#python code owners
python/            @rapidsai/cucim-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cucim-cmake-codeowners
**/cmake/          @rapidsai/cucim-cmake-codeowners

#build/ops code owners
/.github/           @rapidsai/ops-codeowners
/ci/                @rapidsai/ops-codeowners
/conda/             @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
