Repository rapidsai/cucim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cucim-cpp-codeowners, @rapidsai/cucim-python-codeowners, @rapidsai/cucim-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Drop comment
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

More indentation fixes
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Drop unneeded check
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Use `has_mv` to track `memoryview`
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Fix `buffer_info` namespace
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Use `py::object` to hold `py::memoryview`
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Use `const` with `data_array`
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Tweak `mv_obj` usage
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Type `cast`
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Add missing `!` for C-contiguous check
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Compare `PyBuffer_IsContiguous` to `0`
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Drop NumPy build dependency (#751)
  conda/recipes/cucim/meta.yaml
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/packaging-codeowners, @rapidsai/cucim-python-codeowners

Fix bug where developer section was not generated for pyproject.toml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Fix error in dependencies.yaml causing incomplete pyproject.toml generation (#757)
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Update Changelog [skip ci]
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cucim-cpp-codeowners
python/pybind11    @rapidsai/cucim-cpp-codeowners

#python code owners
python/            @rapidsai/cucim-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cucim-cmake-codeowners
**/cmake/          @rapidsai/cucim-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
