Repository rapidsai/cucim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cucim-cpp-codeowners, @rapidsai/cucim-python-codeowners, @rapidsai/cucim-cmake-codeowners, @rapidsai/ops-codeowners

pep8
  python/cucim/src/cucim/skimage/filters/thresholding.py
Owners: @rapidsai/cucim-python-codeowners

add missing function to measure/__init__.pyi
  python/cucim/src/cucim/skimage/measure/__init__.pyi
Owners: @rapidsai/cucim-python-codeowners

Enable `CUPY_DUMP_CUDA_SOURCE_ON_ERROR`
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Limit `#` of pytest failures
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Install cached `libcucim` & `cucim`
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Revert install of `libcucim` & `cucim` from cache
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Try `file://`
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Revert install of `*cucim` from cache again
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Force 24.02
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Add `RAPIDS_VERSION_NUMBER` to Python tests
  ci/release/update-version.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Pin RAPIDS version during cuCIM Conda testing
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Pin to `openslide` version `3`
  conda/recipes/libcucim/meta.yaml
Owners: @rapidsai/ops-codeowners

Validate wheel names
  ci/build_wheel.sh
Owners: @rapidsai/ops-codeowners

Relax `openslide` pin again
  conda/recipes/libcucim/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix CI (pt. 2) (#680)
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

try adding cuda_version to py_build
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

add rapids-dependency-file-generator pre-commmit hook
  .pre-commit-config.yaml
Owners: none

Pin `cuda-version` during `*cucim` install
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Apply suggestions from code review
  python/cucim/src/cucim/skimage/_vendored/_internal.py
  python/cucim/src/cucim/skimage/color/colorconv.py
  python/cucim/src/cucim/skimage/color/tests/test_colorconv.py
  python/cucim/src/cucim/skimage/measure/_blur_effect.py
Owners: @rapidsai/cucim-python-codeowners

Move `pytest` higher in test dependency list
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Drop `requirements-test.txt`
  python/cucim/requirements-test.txt
  run
Owners: @rapidsai/cucim-python-codeowners

turn off rapids-dependency-file-generator check
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Revert "turn off rapids-dependency-file-generator check"
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Consolidate test requirements in `dependencies.yaml` (#683)
  dependencies.yaml
  python/cucim/requirements-test.txt
  run
Owners: @rapidsai/ops-codeowners, @rapidsai/cucim-python-codeowners

Bump scikit-image to 0.22
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cucim/meta.yaml
  dependencies.yaml
  python/cucim/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cucim-python-codeowners

Add numpydoc constraint & include in tests
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cucim/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cucim-python-codeowners

Bump OpenJPEG to 2.5.0
  cpp/plugins/cucim.kit.cuslide/cmake/deps/libopenjpeg.cmake
Owners: @rapidsai/cucim-cmake-codeowners

Update OpenJPEG to 2.5.0 (#685)
  cpp/plugins/cucim.kit.cuslide/cmake/deps/libopenjpeg.cmake
Owners: @rapidsai/cucim-cmake-codeowners

skip skimage.restoration.test_j_invariant cases if pywavelets is not available
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cucim/pyproject.toml
  python/cucim/src/cucim/skimage/restoration/tests/test_j_invariant.py
Owners: @rapidsai/ops-codeowners, @rapidsai/cucim-python-codeowners

Apply suggestions from code review
  python/cucim/src/cucim/skimage/restoration/tests/test_j_invariant.py
Owners: @rapidsai/cucim-python-codeowners

minor updates/fixes for consistency with scikit-image 0.22 (#670)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cucim/meta.yaml
  dependencies.yaml
  python/cucim/pyproject.toml
  python/cucim/src/cucim/py.typed
  python/cucim/src/cucim/skimage/_shared/filters.py
  python/cucim/src/cucim/skimage/_vendored/_internal.py
  python/cucim/src/cucim/skimage/color/colorconv.py
  python/cucim/src/cucim/skimage/color/tests/test_colorconv.py
  python/cucim/src/cucim/skimage/feature/__init__.py
  python/cucim/src/cucim/skimage/feature/__init__.pyi
  python/cucim/src/cucim/skimage/feature/peak.py
  python/cucim/src/cucim/skimage/filters/ridges.py
  python/cucim/src/cucim/skimage/filters/tests/test_gaussian.py
  python/cucim/src/cucim/skimage/filters/tests/test_thresholding.py
  python/cucim/src/cucim/skimage/filters/thresholding.py
  python/cucim/src/cucim/skimage/measure/__init__.py
  python/cucim/src/cucim/skimage/measure/__init__.pyi
  python/cucim/src/cucim/skimage/measure/_blur_effect.py
  python/cucim/src/cucim/skimage/measure/_regionprops.py
  python/cucim/src/cucim/skimage/measure/block.py
  python/cucim/src/cucim/skimage/measure/tests/test_regionprops.py
  python/cucim/src/cucim/skimage/morphology/__init__.py
  python/cucim/src/cucim/skimage/registration/__init__.py
  python/cucim/src/cucim/skimage/registration/__init__.pyi
  python/cucim/src/cucim/skimage/registration/_phase_cross_correlation.py
  python/cucim/src/cucim/skimage/registration/tests/test_phase_cross_correlation.py
  python/cucim/src/cucim/skimage/registration/tests/test_tvl1.py
  python/cucim/src/cucim/skimage/restoration/__init__.py
  python/cucim/src/cucim/skimage/restoration/__init__.pyi
  python/cucim/src/cucim/skimage/restoration/deconvolution.py
  python/cucim/src/cucim/skimage/restoration/j_invariant.py
  python/cucim/src/cucim/skimage/restoration/tests/test_j_invariant.py
  python/cucim/src/cucim/skimage/segmentation/__init__.py
  python/cucim/src/cucim/skimage/transform/__init__.py
  python/cucim/src/cucim/skimage/transform/__init__.pyi
  python/cucim/src/cucim/skimage/transform/_geometric.py
  python/cucim/src/cucim/skimage/transform/pyramids.py
  python/cucim/src/cucim/skimage/util/dtype.py
Owners: @rapidsai/ops-codeowners, @rapidsai/cucim-python-codeowners

Drop `cuda-version` install workaround
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Remove leftover CUDA 11.8 workaround attempt
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Run ci/release/update-version.sh 24.04.00.
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Exclude PyTest 8
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cucim/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cucim-python-codeowners

Run ci/release/update-version.sh 24.04.00.
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Exclude PyTest 8 (#689)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cucim/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cucim-python-codeowners

Re-run `ci/release/update-version.sh 24.04.00` (#690)
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

add rapids-dependency-file-generator pre-commmit hook (#682)
  .pre-commit-config.yaml
Owners: none

Fix `popd` indent in `run`
  run
Owners: none

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cucim-cpp-codeowners
python/pybind11    @rapidsai/cucim-cpp-codeowners

#python code owners
python/            @rapidsai/cucim-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cucim-cmake-codeowners
**/cmake/          @rapidsai/cucim-cmake-codeowners

#build/ops code owners
/.github/           @rapidsai/ops-codeowners
/ci/                @rapidsai/ops-codeowners
/conda/             @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
