Repository rapidsai/cucim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cucim-cpp-codeowners, @rapidsai/cucim-python-codeowners, @rapidsai/cucim-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cucim-cpp-codeowners
python/pybind11    @rapidsai/cucim-cpp-codeowners

#python code owners
python/            @rapidsai/cucim-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cucim-cmake-codeowners
**/cmake/          @rapidsai/cucim-cmake-codeowners

#build/ops code owners
/.github/           @rapidsai/ops-codeowners
/ci/                @rapidsai/ops-codeowners
/conda/             @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

Relax `openslide` pin (#653)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cucim/meta.yaml
  conda/recipes/libcucim/meta.yaml
  dependencies.yaml
  python/cucim/pyproject.toml
  python/cucim/requirements-test.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/cucim-python-codeowners

add missing symlinks
  python/cucim/CONTRIBUTING.md
  python/cucim/README.md
  python/cucim/VERSION
Owners: @rapidsai/cucim-python-codeowners

refactor CUDA versions in dependencies.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

restore CUDA 11.5
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

refactor CUDA versions in dependencies.yaml (#671)
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

use CUDA 12.2 for building and testing wheels and conda packages
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

update dependencies.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

remove 1.20 env file
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Remove usages of rapids-env-update
  ci/build_cpp.sh
  ci/build_python.sh
Owners: @rapidsai/ops-codeowners

Remove usages of rapids-env-update (#673)
  ci/build_cpp.sh
  ci/build_python.sh
Owners: @rapidsai/ops-codeowners

Remove update to symlink
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

DOC v24.04 Updates [skip ci]
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  VERSION
  ci/build_docs.sh
  cucim.code-workspace
  docs/source/conf.py
  python/cucim/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cucim-python-codeowners

Add blank line to README
  README.md
Owners: none

Drop `std::is_signed<complex<T>>`
  python/cucim/src/cucim/skimage/_vendored/_ndimage_filters_core.py
Owners: @rapidsai/cucim-python-codeowners

Remove update to symlink (#674)
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Fix CI issues (#676)
  python/cucim/src/cucim/skimage/_vendored/_ndimage_filters_core.py
Owners: @rapidsai/cucim-python-codeowners

try/except for importing AxisError from NumPy
  python/cucim/src/cucim/skimage/_vendored/_internal.py
  python/cucim/src/cucim/skimage/color/colorconv.py
  python/cucim/src/cucim/skimage/color/tests/test_colorconv.py
  python/cucim/src/cucim/skimage/measure/_blur_effect.py
Owners: @rapidsai/cucim-python-codeowners

update dtype utility for future NumPy compatibility
  python/cucim/src/cucim/skimage/util/dtype.py
Owners: @rapidsai/cucim-python-codeowners

add top-level docstring to morphology/__init__.py
  python/cucim/src/cucim/skimage/morphology/__init__.py
Owners: @rapidsai/cucim-python-codeowners

use __init__.pyi in skimage.restoration
  python/cucim/src/cucim/skimage/restoration/__init__.py
  python/cucim/src/cucim/skimage/restoration/__init__.pyi
Owners: @rapidsai/cucim-python-codeowners

be explicit about kind='stable'
  python/cucim/src/cucim/skimage/feature/peak.py
Owners: @rapidsai/cucim-python-codeowners

docstring updates to skimage.restoration
  python/cucim/src/cucim/skimage/restoration/deconvolution.py
  python/cucim/src/cucim/skimage/restoration/j_invariant.py
Owners: @rapidsai/cucim-python-codeowners

Include py.typed file in distribution (PEP 561)
  python/cucim/src/cucim/py.typed
Owners: @rapidsai/cucim-python-codeowners

update docstrings for geometric transforms
  python/cucim/src/cucim/skimage/transform/_geometric.py
Owners: @rapidsai/cucim-python-codeowners

remove support for return_error=False and deprecate specification of return_error argument in phase_cross_correlation
  python/cucim/src/cucim/skimage/registration/__init__.py
  python/cucim/src/cucim/skimage/registration/_phase_cross_correlation.py
  python/cucim/src/cucim/skimage/registration/tests/test_phase_cross_correlation.py
  python/cucim/src/cucim/skimage/registration/tests/test_tvl1.py
Owners: @rapidsai/cucim-python-codeowners

fix missing entries in COL_DTYPES and test that all documented region properties exist in COL_DTYPES
  python/cucim/requirements-test.txt
  python/cucim/src/cucim/skimage/measure/_regionprops.py
  python/cucim/src/cucim/skimage/measure/tests/test_regionprops.py
Owners: @rapidsai/cucim-python-codeowners

complete deprecation cycle for switch to channel_axis=None default for gaussian_filter
  python/cucim/src/cucim/skimage/_shared/filters.py
  python/cucim/src/cucim/skimage/filters/tests/test_gaussian.py
Owners: @rapidsai/cucim-python-codeowners

add module level docstring to cucim.skimage.segmentation
  python/cucim/src/cucim/skimage/segmentation/__init__.py
Owners: @rapidsai/cucim-python-codeowners

use an __init__.pyi for cucim.skimage.feature
  python/cucim/src/cucim/skimage/_vendored/_internal.py
  python/cucim/src/cucim/skimage/feature/__init__.py
  python/cucim/src/cucim/skimage/feature/__init__.pyi
Owners: @rapidsai/cucim-python-codeowners

add __init__.pyi for skimage.measure
  python/cucim/src/cucim/skimage/measure/__init__.py
  python/cucim/src/cucim/skimage/measure/__init__.pyi
Owners: @rapidsai/cucim-python-codeowners

update threshold_triangle to handle constant-valued images
  python/cucim/src/cucim/skimage/filters/tests/test_thresholding.py
  python/cucim/src/cucim/skimage/filters/thresholding.py
Owners: @rapidsai/cucim-python-codeowners

update docstrings of ridge filters
  python/cucim/src/cucim/skimage/filters/ridges.py
Owners: @rapidsai/cucim-python-codeowners

use __init__.pyi for skimage.registration module
  python/cucim/src/cucim/skimage/registration/__init__.pyi
Owners: @rapidsai/cucim-python-codeowners

import style fix in pyramids.py
  python/cucim/src/cucim/skimage/transform/pyramids.py
Owners: @rapidsai/cucim-python-codeowners

skip call to pad in block_reduce when possible
  python/cucim/src/cucim/skimage/measure/block.py
Owners: @rapidsai/cucim-python-codeowners

use __init__.pyi in skimage.transform
  python/cucim/src/cucim/skimage/transform/__init__.py
  python/cucim/src/cucim/skimage/transform/__init__.pyi
Owners: @rapidsai/cucim-python-codeowners

implement fix for user-defined regionprop with extra property that depends on mask size
  python/cucim/src/cucim/skimage/measure/_regionprops.py
  python/cucim/src/cucim/skimage/measure/tests/test_regionprops.py
Owners: @rapidsai/cucim-python-codeowners

apply black to new __init__.pyi files
  python/cucim/src/cucim/skimage/feature/__init__.pyi
  python/cucim/src/cucim/skimage/measure/__init__.pyi
  python/cucim/src/cucim/skimage/registration/__init__.pyi
  python/cucim/src/cucim/skimage/restoration/__init__.pyi
  python/cucim/src/cucim/skimage/restoration/deconvolution.py
  python/cucim/src/cucim/skimage/transform/__init__.pyi
Owners: @rapidsai/cucim-python-codeowners

add missing property keys in PROPS
  python/cucim/src/cucim/skimage/measure/_regionprops.py
Owners: @rapidsai/cucim-python-codeowners

update threshold_triangle to improve effiency of histogram processing
  python/cucim/src/cucim/skimage/filters/tests/test_thresholding.py
  python/cucim/src/cucim/skimage/filters/thresholding.py
Owners: @rapidsai/cucim-python-codeowners
