Repository rapidsai/cucim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cucim-cpp-codeowners, @rapidsai/cucim-python-codeowners, @rapidsai/cucim-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cucim-cpp-codeowners
python/pybind11    @rapidsai/cucim-cpp-codeowners

#python code owners
python/            @rapidsai/cucim-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cucim-cmake-codeowners
**/cmake/          @rapidsai/cucim-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

use rapids-build-backend (#736)
  .pre-commit-config.yaml
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/test_python.sh
  conda/recipes/cucim/build.sh
  conda/recipes/cucim/meta.yaml
  dependencies.yaml
  python/cucim/pyproject.toml
  python/cucim/tests/unit/test_version.py
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/cucim-python-codeowners

Remove text builds of documentation (#738)
  ci/build_docs.sh
Owners: @rapidsai/ci-codeowners

remove .gitattributes
  python/cucim/.gitattributes
Owners: @rapidsai/cucim-python-codeowners

remove .gitattributes (#740)
  python/cucim/.gitattributes
Owners: @rapidsai/cucim-python-codeowners

add oidc permission scope
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners

add publish to pr workflow
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

rever build.yaml
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners

add scripts
  .github/workflows/pr.yaml
  ci/_rapids-wheels-prepare.sh
  ci/mint-pypi-token.sh
  ci/rapids-wheels-anaconda
  ci/rapids-wheels-pypi.sh
Owners: @rapidsai/ci-codeowners

debug
  ci/mint-pypi-token.sh
  ci/rapids-wheels-pypi
Owners: @rapidsai/ci-codeowners

add id-token permission and rename script
  .github/workflows/pr.yaml
  ci/_rapids-wheels-prepare
Owners: @rapidsai/ci-codeowners

add permissions to child job
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

fix dir link
  ci/rapids-wheels-pypi
Owners: @rapidsai/ci-codeowners

add mint-token step to cucim workflow
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

debug
  .github/workflows/pr.yaml
  ci/mint-pypi-token.sh
Owners: @rapidsai/ci-codeowners

switch impl
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

final composite actions mint test
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

use correct audience
  .github/workflows/pr.yaml
  ci/mint-pypi-token.sh
Owners: @rapidsai/ci-codeowners

test optional publish - testpypi
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

update workflow
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Use verify-alpha-spec hook
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Use verify-alpha-spec hook (#744)
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

skip CMake 3.30.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cucim/conda_build_config.yaml
  conda/recipes/cucim/meta.yaml
  conda/recipes/libcucim/conda_build_config.yaml
  conda/recipes/libcucim/meta.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

move floor to 3.26.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cucim/conda_build_config.yaml
  conda/recipes/libcucim/conda_build_config.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

update cmake_minim_required() statements
  CMakeLists.txt
  cpp/plugins/cucim.kit.cumed/CMakeLists.txt
  cpp/plugins/cucim.kit.cuslide/CMakeLists.txt
  examples/cpp/CMakeLists.txt.examples.release.in
  python/CMakeLists.txt
Owners: @rapidsai/cucim-cmake-codeowners, @rapidsai/cucim-cpp-codeowners

skip CMake 3.30.0, require CMake >=3.26.4 (#745)
  CMakeLists.txt
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cucim/conda_build_config.yaml
  conda/recipes/cucim/meta.yaml
  conda/recipes/libcucim/conda_build_config.yaml
  conda/recipes/libcucim/meta.yaml
  cpp/plugins/cucim.kit.cumed/CMakeLists.txt
  cpp/plugins/cucim.kit.cuslide/CMakeLists.txt
  dependencies.yaml
  examples/cpp/CMakeLists.txt.examples.release.in
  python/CMakeLists.txt
Owners: @rapidsai/cucim-cmake-codeowners, @rapidsai/packaging-codeowners, @rapidsai/cucim-cpp-codeowners

cast scalar value to array (needed to produce output of correct dtype with NumPy 2.0)
  python/cucim/src/cucim/skimage/segmentation/_chan_vese.py
Owners: @rapidsai/cucim-python-codeowners

bump tolerance in stain_extraction_pca test
  python/cucim/tests/unit/core/test_stain_normalizer.py
Owners: @rapidsai/cucim-python-codeowners

Minor fixes for NumPy 2.0 compatiblity (#746)
  python/cucim/src/cucim/skimage/segmentation/_chan_vese.py
  python/cucim/tests/unit/core/test_stain_normalizer.py
Owners: @rapidsai/cucim-python-codeowners

Build and test with CUDA 12.5.1
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Build and test with CUDA 12.5.1 (#747)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

Use workflow branch 24.08 again (#749)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

DOC v24.10 Updates [skip ci]
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  VERSION
  cucim.code-workspace
Owners: @rapidsai/ci-codeowners

Drop pybind11 NumPy header
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Make `numpy` a runtime only dependency
  conda/recipes/cucim/meta.yaml
Owners: @rapidsai/packaging-codeowners

Switch to `memoryview`
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Add `Python.h` to `#include`s
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Fix indentation
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Double quote `q`
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners

Use `py::format_descriptor`
  python/pybind11/cucim_py.cpp
Owners: @rapidsai/cucim-python-codeowners
